/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Header Styling */
.header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.subtitle {
    margin: 10px 0 0;
    font-size: 18px;
}

/* Container */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Sidebars */
.sidebar-left, .sidebar-right {
    width: 20%;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-left h3, .sidebar-right h3 {
    color: #4CAF50;
}

.sidebar-left ul, .sidebar-right ul {
    list-style-type: disc; /* Adds bullet points */
    padding: 0;
    margin: 0; /* Removes default margins for the list */
}

.sidebar-left li, .sidebar-right li {
    margin-bottom: 10px; /* Adds spacing between list items */
}

/* Main Content */
.main-content {
    width: 55%;
    text-align: center;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#imageContainer img {
    max-width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

/* Resources */
.resources {
    text-align: center;
    margin: 20px auto;
}

.resources ul {
    list-style-type: none;
    padding: 0;
}
